.sidebar {
  /* position: fixed; */
  background-color: #1a1a1b;
  width: 269px;
  height: 100%;
  /* overflow-x: hidden; */
  font-family: var(--font-family);
}

.left-sidebar {
  left: 0;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0px .1rem; */
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.sidebar-logo img {
  width: 120px;
  display: block;
}

.sidebar-container {
  padding: 2rem 3rem 0;
  height: 100%;
}

.sidebar-link-list {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.72);
  text-decoration: none;
  cursor: pointer;
}

.sidebar-link.active {
  color: var(--color-golden);
}

.sidebar-link svg {
  font-size: 20px;
}

.sidebar-link span {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -1px;
  margin-left: 24px;
}
