:root {
	--footer-bg: #6d5c06;
	--secondary-bg: #ffd700;
}

.footer-container {
	height: 90vh;
}

.footer-tip {
	position: relative;
	height: 20vh;
	width: 100%;
	background: linear-gradient(90deg, var(--footer-bg), #423a0b);
	border-top-right-radius: 30%;
	transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}

.footer-tip::before,
.footer-tip::after {
	content: "";
	position: absolute;
	width: inherit;
	height: inherit;
	background: inherit;
	border-top-right-radius: inherit;
}

/* .footer-container::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background: #000;
	clip-path: polygon(60% 0%, 150% 90%, -30% 90%);
	clip-path: polygon(0 0, 150% 0%, -30% 90%);
} */
